<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="th">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <title>แอปพลิเคชัน HoroAppoint</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/896118f067.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, .new-font {
            font-family: "Sarabun", sans-serif;
        }

        .full-height {
            min-height: calc(100vh - 12.5rem);
            margin-bottom: 0;
        }
    </style>
</head>


<body style="overflow: hidden">

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand has-background-info">
        <a class="navbar-item has-text-black" href="https://bulma.io"><b>HoroAppoint</b></a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/}">รายการนัดหมาย</a>
            <a class="navbar-item" th:href="@{/schedule}">ปฏิทิน</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="https://chat.line.biz" target="_blank">
                        <strong class="is-light">เปิด Line</strong>
                    </a>
                    <a class="button is-light">
                        ออกจากระบบ
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="columns is-gapless mb-0">
    <div id="list" class="column is-narrow" style="width:450px; height: calc(100vh - 3.5rem); overflow:auto;scrollbar-width: thin">
        <form id="fMain" class="p-2 has-background-info-light" action="/" method="get">
            <div class="field has-addons">
                <p class="control has-icons-left">
                    <span class="select new-font">
                      <select class="new-font" id="filter" name="filter">
                        <option th:selected="${filter == 'all'}" value="all" selected>ทั้งหมด</option>
                        <optgroup class="new-font" label="สถานะ"></optgroup>
                        <option th:selected="${filter == 'payment'}" value="payment">รอชำระเงิน</option>
                        <option th:selected="${filter == 'confirmation'}" value="confirmation">รอตรวจสอบ</option>
                        <option th:selected="${filter == 'ready'}" value="ready">พร้อมให้บริการ</option>
                        <option th:selected="${filter == 'finished'}" value="finished">เสร็จสิ้น</option>
                      </select>
                    </span>
                    <input type="hidden" id="selected" name="selected" th:value="${selected}">
                    <span class="icon is-left">
                      <i class="fas fa-filter"></i>
                    </span>
                </p>
                <p class="control is-expanded has-icons-left">
                    <input class="input is-fullwidth new-font" type="text" id="search" name="search"
                           placeholder="คำค้นหา" th:value="${search != null ? search : ''}">
                    <span class="icon is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </p>
                <div class="control">
                    <button type="submit" class="button is-info">
                        ค้นหา
                    </button>
                </div>
            </div>

        </form>
        <div th:each="tab: ${tabs}">
            <article class="media p-2 my-0" th:classappend="${tab.picked} ? 'has-background-grey-lighter' : 'has-background-white-ter'">
                <figure class="media-left">
                    <p class="image is-64x64"><img alt="Customer Image" class="is-rounded" th:src="${tab.src}"/></p>
                    <p class="has-text-centered mt-4">
                        <span th:if="${tab.appType == 'booking'}" class="tag is-danger">ใช้งานอยู่</span>
                        <span th:if="${tab.appType == 'payment'}" class="tag is-warning">รอชำระ</span>
                        <span th:if="${tab.appType == 'confirmation'}" class="tag is-info">ตรวจสอบ</span>
                        <span th:if="${tab.appType == 'ready'}" class="tag is-success">พร้อม</span>
                        <span th:if="${tab.appType == 'finished'}" class="tag is-light">เสร็จสิ้น</span>
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <div class="m-0">
                            <div class="pb-2" th:text="${tab.name}"></div>
                            <span class="tags has-addons mb-1">
                                <span class="tag is-primary"><b th:text="${tab.time.date}"></b></span>
                                <span class="tag is-warning" th:text="${tab.time.timeStart}"></span>
                                <span class="tag is-info" th:text="${tab.time.timeEnd}"></span>
                            </span>
                            <span class="icon is-small mr-2"><i class="fas fa-folder-closed"></i></span>
                            <span th:text="${tab.subject}"></span><br/>
                            <span class="icon is-small mr-2"><i class="fas fa-folder-tree"></i></span>
                            <span th:text="${tab.choice}"></span><br/>
                        </div>
                        <nav class="level">
                            <div class="level-left">
                                <span th:if="${tab.serviceType == 'ONLINE_CHAT'}" class="level-item icon is-small"><i class="fas fa-comments"></i></span>
                                <span th:if="${tab.serviceType == 'ON_PREMISE'}" class="level-item icon is-small"><i class="fas fa-shop"></i></span>
                                <span th:if="${tab.serviceType == 'GUIDE'}" class="level-item icon is-small"><i class="fas fa-vihara"></i></span>
                                <span th:if="${tab.serviceType != 'MEETUP'}" th:text="${tab.typeText}"></span>
                                <span th:if="${tab.serviceType == 'MEETUP'}" class="level-item icon is-small">
                                    <i th:if="${tab.loc.zone == '1'}" class="fas fa-car-side"></i>
                                    <i th:if="${tab.loc.zone == '2'}" class="fas fa-van-shuttle"></i>
                                    <i th:if="${tab.loc.zone == '3'}" class="fas fa-plane-arrival"></i>
                                </span>
                                <span class="level-item tags has-addons" th:if="${tab.serviceType == 'MEETUP'}">
                                    <span class="tag is-danger is-light"><b th:text="${tab.loc.km + 'กม.'}"></b></span>
                                    <span class="tag has-background-primary-light" th:text="${tab.loc.prov}"></span>
                                    <span class="tag is-primary is-light" th:text="${tab.loc.dist}">่</span>
                                </span>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="media-right">
                    <p class="has-text-centered pb-1">
                        <small th:text="${tab.updated}"></small> <br/>
                    </p>
                    <button class="button" type="submit" name="selectedNew"  th:unless="${tab.picked}"
                            form="fMain" th:value="${tab.id}">
                        <span class="icon is-small"><i class="fas fa-right-from-bracket"></i></span>
                    </button>
                    <button class="button is-success" th:if="${tab.picked}">
                        <span class="icon is-small"><i class="fas fa-check"></i></span>
                    </button>
                </div>
            </article>
        </div>
    </div>
    <div id="main" class="column">
        <section class="hero is-small has-background-grey-lighter" style="height: auto">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-three-quarters">
                        <p class="title" th:text="${card.service}"></p>
                        <p class="subtitle">
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">วันที่</span>
                                    <span class="tag is-success"><b th:text="${card.dateShort}"></b></span>
                                </div>
                            </div>
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">เวลา</span>
                                    <span class="tag is-warning" th:text="${card.timeStart}"></span>
                                    <span class="tag is-info" th:text="${card.timeEnd}"></span>
                                </div>
                            </div>
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">ผู้จอง</span>
                                    <span class="tag is-link is-light" th:text="${card.name}"></span>
                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                    <div class="column is-one-quarter is-pulled-right">
                        <button class="button is-medium is-success is-pulled-right" th:disabled="${card.final}"
                                type="submit" form="fMain" name="action" value="confirm">
                            <span class="icon"><i class="fas fa-check"></i></span>
                            <span th:text="${card.final ? 'ยแล้ว' : 'อนุมัติการนัดหมาย'}"></span>
                        </button>
                        <p class="is-small is-pulled-right pt-2 pr-2">อัปเดต: <span th:text="${card.lastUpdated}"></span></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="columns is-gapless p-0">
            <div class="column full-height has-background-light">
                <div class="content m-4">
                    <p>
                    <h4>ผู้จอง</h4>
                    <b>ชื่อผู้ใช้ไลน์</b> <span th:text="${card.name}"></span><br>
                    <b>ชื่อ-สกุล</b> <span th:text="${card.fullName}"></span>
                    </p>
                    <p>
                    <h4>บริการ</h4>
                    <b>กลุ่มบริการ</b> <span th:text="${card.group}"></span><br>
                    <b>บริการ</b> <span th:text="${card.service}"></span><br>
                    <b>ตัวเลือกบริการ</b> <span th:text="${card.choice}"></span>
                    </p>
                    <p>
                    <h4>การนัดหมาย</h4>
                    <b>วันที่</b> <span th:text="${card.date}"></span> <b>เวลา</b> <span th:text="${card.time}"></span> <br>
                    </p>
                    <p>
                    <h4>ข้อมูลเวลา</h4>
                    <table class="table is-narrow is-hoverable">
                        <tbody>
                        <tr>
                            <th>เริ่มต้นการจอง</th>
                            <td th:text="${card.timestamp.selection_added}"></td>
                        </tr>
                        <tr>
                            <th>ยืนยันการจอง</th>
                            <td th:text="${card.timestamp.selection_final}"></td>
                        </tr>
                        <tr>
                            <th>ยืนยันการชำระเงิน</th>
                            <td th:text="${card.timestamp.slip_final}"></td>
                        </tr>
                        <tr>
                            <th>ยืนยันการนัดหมาย</th>
                            <td th:text="${card.timestamp.approved}"></td>
                        </tr>
                        <tr>
                            <th>ให้บริการเสร็จสิ้น</th>
                            <td th:text="${card.timestamp.finished}"></td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
            <div class="column full-height">
                <div class="content m-4">

                    <h4>สถานที่</h4>
                    <p th:unless="${card.type == 'MEETUP' && card.loc != null}">
                        <span>ไม่พบสถานที่</span>
                    </p>
                    <p th:if="${card.type == 'MEETUP' && card.loc != null}">
                        <b>จังหวัด</b> <span th:text="${card.loc.prov}">กรุงเทพมหานคร</span> <b>ระยะทาง</b> <span th:text="${card.loc.km + 'กม.'}">55.2 กม.</span> <br>
                        <b>อำเภอ/เขต</b> <span th:text="${card.loc.dist}"></span> <b>ตำบล/แขวง</b> <span th:text="${card.loc.subd}"></span><br>
                        <b>แผนที่</b> <a th:href="${'https://www.google.com/maps/dir/?api=1&origin=T&origin_place_id=ChIJmRFdM3GV4jARgd_wavTST0k&destination=' + card.loc.lat + '%2C%20'+ card.loc.lon}"
                                         target=”_blank”>เปิดใน Google Maps <i class="fas fa-arrow-up-right-from-square"></i></a>
                    </p>
                    <iframe th:if="${card.type == 'MEETUP' && card.loc != null}"
                            class="image is-1by1 is-fullwidth" style="border:0" loading="lazy" allowfullscreen
                            th:src="${'https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJmRFdM3GV4jARgd_wavTST0k&destination=' + card.loc.lat + '%2C%20'+ card.loc.lon + '&key=AIzaSyD2VuAPdNjSCTNn4McvAMw2jUnLJuCTgVM'}"></iframe>
                </div>
            </div>
            <div class="column full-height has-background-light">
                <div class="content m-4">
                    <div style="text-align: center">
                        <h4>สลิปการโอนเงิน</h4>
                        <img class="" alt="slip"
                             th:src="${card.slip}"
                             style="max-width: 100%; max-height: 20em; width: auto; height: auto">
                    </div>
                    <label class="pt-4" for="note">โน้ต</label>
                    <textarea class="textarea new-font is-fullwidth" id="note" placeholder="ใส่โน้ต" rows="8"
                              style="resize:none;scrollbar-width: thin"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</body>